{# Copyright 2024 Louis Paternault

This file is part of pdfimpose-web.

Pdfimpose-web is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Pdfimpose-web is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with pdfimpose-web. If not, see <https://www.gnu.org/licenses/>.
-#}

<ol>
  <li>{% trans -%}
    Print the resulting PDF two-sided (binding on the left).
  {%- endtrans %}</li>
  <li>{% trans -%}
    Cut the stack of paper.
  {%- endtrans %}</li>
  <li>{% trans -%}
    Stack the different stacks onto each other (be careful to the page numbers).
  {%- endtrans %}</li>
  <li>{% trans -%}
    Bind it.
  {%- endtrans %}</li>
</ol>
